<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>  

<body>
  
<!--  FOOTER START -->
  
<div class="footer">
  <div class="inner-footer">

<!--  for company name and description -->
    <div class="footer-items">
      <h1>YUMMY Website</h1>
      <p>YUMMY is a website specialized in restaurants, where the customer can view all the restaurants, meals and menus they offer, and know the prices and offers for each restaurant.
      </p>
    </div>

<!--  for quick links  -->
    <div class="footer-items">
      <h3>Quick Links</h3>
      <div class="border1"></div> <!--for the underline -->
        <ul>
          <a href="#"><li>Home</li></a>
          <a (click)="GoToLogin()"><li>Login</li></a>
          <a (click)="GoToAbout()"><li>About Us</li></a>
          <a (click)="GoToAllRest()"><li>All Restaurant</li></a>
        </ul>
    </div>

<!--  for some other links -->
    <div class="footer-items">
      <h3>Recipes</h3>
      <div class="border1"></div>  <!--for the underline -->
        <ul>
          <a href="#"><li>Indian</li></a>
          <a href="#"><li>Chinese</li></a>
          <a href="#"><li>Mexican</li></a>
          <a href="#"><li>Italian</li></a>
        </ul>
    </div>

<!--  for contact us info -->
    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i>Jordan, Irbid</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>0791558798</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>yummy@gmail.com</li>
        </ul> 
      
<!--   for social links -->
        <div class="social-media">
          <a href="https://www.facebook.com/"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-1024.png"></a>
          <a href="https://www.instagram.com/"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-1024.png"></a>
          <a href="https://twitter.com/?lang=en"><img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter3_colored_svg-1024.png"></a>
        </div> 
    </div>
  </div>
  
<!--   Footer Bottom start  -->
  <div class="footer-bottom">
    Copyright &copy; YUMMY 2021.
  </div>
</div>
  
<!--   Footer Bottom end -->
  
<!--   FOOTER END -->
  
</body>  

<!-- Thanks to Computer Conversations -->