<div class="row"style=" background: url('https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg'); ">
    <div class="containers col-lg-6 col-md-6">

        <div class="pic"></div>

        <div class="box1"></div>
        <div class="box2"></div> 

        <!--<div class="social1">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>-->
        <div class="social2">
            <i class="fa fa-dribbble" aria-hidden="true"></i>
        </div>
        <div class="social3">
            <i class="fa fa-codepen" aria-hidden="true"></i>
        </div>
    </div>

    <div class="content col-md-offset-6 col-lg-offset-6">
        <div style="text-align: center;"><h1 class="contentHead">ABOUT US</h1></div>
          <br><br>
        <h2>
            Hi Everyone, <br /><br />

            YUMMY is a website specialized in restaurants, where the customer can view all the restaurants, meals and menus they offer, and know the prices and offers for each restaurant.
            <br /><br />
            With  L<span>&hearts;</span>VE Developer Team.
            <br /><br />
        </h2>
    </div>
</div>

