
<mat-card class="example-card">
  
    <mat-card-header >
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{restaurantName}}</mat-card-title>
      <mat-card-subtitle >{{cuisines}}</mat-card-subtitle>
 
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyoJ75aaZVL5LsOtR2njWGNeB14MoY401iug&usqp=CAU" alt="Photo yummy">
    <mat-card-content>
        <p>
            <b>Location :</b> {{location}}
          </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="col text-center">
           <!-- <button type="button" class="btn btn-dark " (click)="showOffers()">Show Offers</button>-->
           <button type="button" class="btn btn-dark " (click)="storeID()">Show Offers</button>
           
            </div>
    </mat-card-actions>

  </mat-card>
