
<div class=container>
   
    <!--ng for it's the same of for each the same synatx -->
    <h1><b>MENU</b></h1>
       <div class="card">
         <ng-container *ngIf="restProf.data.length>0">
    <app-menu-card *ngFor= "let c of restProf.data " [Category_]="c.Category_" [Price]="c.Price" [description_]="c.description_" [MealName]="c.MealName" [Quantity_]="c.Quantity_" [MealImg]="c.MealImg">
   </app-menu-card>
   </ng-container>
   <ng-container *ngIf="restProf.data.length<=0">
      <h1 class="noOffers">NO MENU</h1>
   </ng-container>
</div>
</div>
